.jumbotron {
    padding: 2rem;
    background-color: #a2d9ff;
}
.card:hover{
    transform: scale(1.1);
}
.card {
    transition: 1.3s;
}
#project {
    padding: 2rem;
    background-color: #a2d9ff;
}
#contact {
    padding: 5rem;
    background-color: #a2d9ff;
}
footer {
    padding: 5rem;
    background-color: #a2d9ff;
} 